

.footer-container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 60px;
     background-color: #0077b5;
     border-top: 1px solid #0077b5;
}

.footer-text {
     color: #fff;
     font-size: 14px;
     font-weight: 500;
     margin: 0;
}